.App {
  margin: auto;
}

h1 {
  font-size: 60px;
  margin-top: 15px;
}

.filter-bar button{
  background-color: transparent;
  padding: 4px 10px 4px 10px;
  border: transparent;
  
}

.filter-bar button:not(:last-child)::after{
  margin-left: 15px;
  content: " | ";
}
